[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.7"
pillow = "*"
django-countries = "*"
django-dotenv = "*"
requests = "*"
django-seed = "*"
pipenv-to-requirements = "*"

[dev-packages]
flake8 = "*"
awsebcli = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
