{% extends 'base.html' %} 

{% block page_name %}Home{% endblock page_name %}

{% block content %}
    <div class="container mx-auto">
        <div class="container mx-auto bg-gray-800 w-full h-50vh mt-32 mb-24 rounded-xl bg-cover bg-center" style="background-image: url(https://images.unsplash.com/photo-1616869736793-4137437ac52f?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDExfEpwZzZLaWRsLUhrfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop);"></div>
        {% for room in rooms %}
            {% include 'partials/room_card.html' with room=room %}
        {% endfor %}

        <h5>
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}

            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}
        </h5>
    </div>


    




{% endblock content %}


